.boxes {
    border: 3px solid black;
    box-shadow: 10px;
    border-radius: 20px;
    position: relative;
    margin: 40px;
    padding: 40px;
   }

   h1 {
    text-align: center;
    padding: 40px;
    font-size: 60px;
    font-family: 'Bilbo Swash Caps';
    letter-spacing: 3px;
    font-weight: 600;
   }

   h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Bilbo Swash Caps";
    letter-spacing: 3px;
    padding-bottom: 20px;
    font-weight: 200;
   }

   .fonttitle {
    font-family: Montserrat;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    line-height: 3;
    padding-left: 80px;
    padding-top: 5px;
   }

   p {
    font-family: Montserrat;
    font-weight: 500;
    line-height: 2;
   }



   ul {
    font-family: Montserrat;
    font-weight: 300;
    line-height: 2;
   }

   
   .colorbox {
    display: flex;
   }
   
   .fontbox {
    display: flex;
    justify-content: center;
    gap: 50px;
   }

   .textbox {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    flex-wrap: wrap;
   }

   #purple {
    background-color: #581845;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
    margin-right: 40px;
   }

   #golden {
    background-color: #FFA100;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
    margin-right: 40px;
   }

   #magenta {
    background-color: #900C3F;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
   }

   #pink {
    background-color: #C70039;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
    margin-right: 40px;

   }

   #orange {
    background-color: #FF5733;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
   }

   #yellow {
    background-color: #FFC300;
    color: white;
    height: 55px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    line-height: 1.5;
    font-family: Montserrat;
    font-weight: bold;
    width: 48%;
   }